<ul class="add-pokemon">
  <% pokemon.push({ %>
    <li><input class="add" value="name"><%= pokemon.name %></li>
    <li><input class="add" value="pokedex"><%= pokemon.pokedex %></li>
    <li><input class="add" value="evolves_from"><%= pokemon.evolves_from %></li>
    <li><input class="add" value="image"><%= pokemon.image %></li>
  <% }) %>
<ul class="list-group">

  <% pokemon.forEach(function(pokemon) { %>
    <li><%= pokemon.name %> - <%= pokemon.pokedex %> - <%= pokemon.evolves_from %> - <%= pokemon.image %> <button class="edit" value="edit"> <button class="remove" value="remove"> </li>
  <% }) %>
</ul>
